/*
shapes: 
- product borders;
- banner borders;
- div containers;

buttons: 
- learn more;
- purchase;
- add to list;
- basic buttons;
- drop-down lists;

texts: 
- h1 h2 h3 ...
- below product text;
- description text;

labels: 
- sales;
- exclusives;

inputs: 
- details;

-> all these scalable?